body  {
     background-color: pink; 
     font-family: verdana, sans-serif;
     color:white;
     font-size:50px;
}

h1 {color:blue
        
}
h2 {color:blue

}
h3 {color:blue

}
h4 {color:blue

}
h5 {color:blue

}
h6 {color:blue

}
